/* Remove padding and margin */
:root {
  --blue-text: #5d94e2;
  --grey-text: #9ca9bb;
  --grey-dark-text: #747474;
  --red-bar: #934747;
  --green-bar: #479355;

  --cell-width: 5px;
  --cell-font-size: 12px;

  --completion-width: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
.App {
  background: #e5e5e5;
  height: 100%;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* NAV BAR BEGIN */
.navbar {
  height: 75px;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 200px 8fr;
}

.navbar .logo {
  margin: auto;
  font-size: 2em;
  color: #699ee7;
}
.rest-of-navbar {
  width: auto;
}
/* NAV BAR END */

/* ACTIVE GRID GOAL ELEMENT BEGIN */
.active-grid-goal-container {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-bottom: 10px;
}
.active-grid-goal-container.empty {
  height: 166px;
  border: dashed black 1px;
  background: #f6f6f6;
}
.add-new-gridgoal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-new-gridgoal img {
  width: 50px;
  height: 50px;
}

.grid-goal-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px 15px;
}
.name-date-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.grid-goal-toprow{
  display: flex;
  flex-direction: row;
}
.grid-goal-name {
  color: var(--blue-text);
  font-size: 1.2em;
  font-weight: 700;
}
.grid-goal-due-date {
  color: var(--grey-text);
  font-size: 0.8em;
  font-weight: 700;
}
.grid-goal-timers {
}

.grid-goal-progress-bars-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 0.8em;
}
.progress-container {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}
.time-remaining-text {
  color: var(--grey-text);
  font-weight: 500;
}
.time-remaining-bar {
  height: 5px;
  width: 60%;
  background-color: var(--red-bar);
}
.completed-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.completed-out-of {
  color: var(--grey-dark-text);
  font-weight: 700;
}
.completed-percent {
  color: var(--grey-dark-text);
  font-weight: 700;
}
.completed-bar {
  height: 5px;
  width:var(--completion-width);
  background-color: var(--green-bar);
}

.grid-goal-delete img{
  width:20px;
  height: 20px;
}

/* ACTIVE GRID GOAL ELEMENT END */

/* PAGE CONTENT BEGIN */
.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}
/* PAGE CONTENT END */

/* ACTIVE GRID GOALS CONTAINER BEGIN */
.active-grid-goals-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

/* ACTIVE GRID GOALS CONTAINER END */

/* GRID GOAL CONTAINER BEGIN */
.grid-goal-container {
  margin: 20px 50px 0 50px;
  width: 80%;
  height: auto;
  background: white;
  max-height: 85vh;
}

.grid-goal-header-container {
  height: 100px;
  /* background: darkgoldenrod; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.grid-goal-title {
  font-size: 40px;
  font-weight: 400;
  color: var(--grey-dark-text);
}
.add-amount-container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 80px;
  justify-content: space-between;
  font-size: 20px;
  background: white;
  border-bottom: var(--grey-dark-text) solid 3px;
  color: var(--grey-dark-text);
}
.plus-icon {
}


.grid-goal-body-content-container {
  margin: 20px 30px;

  max-height: 70vh;
  overflow-y: scroll;
  height: 100%;
}
.grid-goal-body-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  height: 100%;
  align-content: flex-start;
}
.grid-goal-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* GRID GOAL CONTAINER END */

/* CELL BEGIN*/
.grid-goal-cell {
  width: var(--cell-width);
  height: var(--cell-width);
  background: rgb(235, 235, 235);
  border-radius: 1px;
  font-size: var(--cell-font-size);
  text-align: center;
  line-height: var(--cell-width);
  /* inline-size: calc(var(--cell-width) - 2px); */
  /* overflow-wrap: break-word; */
}

.active-grid-cell{
  background: #9BFFFF;
}

/* CELL END*/


/* FORM BEGIN*/
.add-amount-field{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
input:focus, textarea {
  outline: none !important;
}

.form-inline input.text-input {
  width: 100%;
  font-size: 24px;
  line-height: 24px;

  margin: 5px 0px 5px 0px;
  padding: 10px;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  text-align: right;
}

.form-inline .plus-icon {

  background-image: url("./assets/add-amount.png");
  background-color: white;

  cursor: pointer;

  height: 40px;
  width: 56px;
  background-size: contain;
  background-repeat: no-repeat;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* FORM END */
