.login-modal {
  position: absolute;
  top: 0;
  right: 120px;
  height: 80%;
  width: 600px;
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;

  background: #ffffff;
  border: 1px #dcdcdc solid;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-welcome {
  color: #6b80e3;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  padding: 30px 60px;
}

.login-welcome-subtext {
  /* Sign into your account */

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #84848a;
}
.login-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.login-input {
  height: 60px;
  width: 90%;
  text-indent: 50px;
  text-align: left;
  /* padding-left: 50px; */
  font-size: 20px;
  opacity: 0.7;
  transition: 0.3s;
  background: #edf2f7;
  border-bottom: 1px solid #6b7fe5;

  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: rgba(0, 0, 0, 0.7);
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}
.login-input:hover {
  transform: scale(1.05);
}
.login-input:active,
.login-input:focus {
  background: #5e95e2;
  color: white;
}

.login-input:active::placeholder,
.login-input:focus::placeholder {
  color: rgb(255, 255, 255);
}

.login-submit {
  height: 75px;
  width: 90%;
  text-align: center;
  font-size: 28px;
  background: #6b7fe5;
  color: white;
  font-weight: 700;
  margin-top: 30px;
}

.forgot-password {
  /* I forgot my password */
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #939596;
  padding: 20px 0;
  cursor: pointer;
}

.register-new-account {
  border: 1px solid #77797C;;
  background: transparent;
  box-sizing: border-box;
  padding: 20px 0;
  width: 90%;

  /* Register New Account */

  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: rgba(0, 0, 0, 0.5);
}
