      /* Modal */

      .modal__wrapper {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        opacity: 0;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        visibility: hidden;
        z-index: 100;
      }
    
      .modal__overflow-wrapper {
        align-items: center;
        
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    
      .modal--visible {
        opacity: 1;
        visibility: visible;
      }
    
      .modal__window {
        margin: 4rem;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
      }
    
      .modal__content,
      .modal__close {
        border-radius: 10px;
      }
    
      .modal__close {
        background-color: white;
        display: flex;
        height: 2.5rem;
        left: 0;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    
      .modal__close--icon {
        padding-right: 0.25rem;
        width: 2.25rem;

      }
    
      .modal__content {
        background-color: white;
        max-height: 100vh;
        max-width: 50rem;
        overflow: auto;
        padding: 2.25rem;
        position: relative;

        width: 50%;
        height: 30%;
      }
    
      [data-modal-event],
      .modal__close {
        cursor: pointer;
      }
      /* Applied to body on modal open */
    
      .no-scroll--modal {
        overflow: hidden !important;
      }
    
      @media screen and (max-width: 768px) {
        .modal__window {
          margin: 2rem;
        }
      }
    
      @media screen and (max-width: 480px) {
        .modal__window,
        .modal__content {
          max-height: calc(100vh - 4rem);
        }
        .modal__window {
          margin: 4rem 0 0;
        }
      }

      .new-goal-form{
        display: flex;
        flex-direction: column;
      }



.input-row {
    display: flex;
    gap: 20px;
   
    /* height: 20px; */
  }
  
  .text-input {
  }
  
  .new-goal-form {
    width: 100%;
    display: inline-block;
  }
  
  .new-goal-form input, .new-goal-form select {
    width: 100%;
    font-size: 14px;
    vertical-align: middle;
    margin: 15px 0px 5px 0px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .new-goal-form button {
    width: 45%;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .new-goal-form button:hover {
    background-color: royalblue;
  }
  
  .submit-button {
    width: 100%;
  }