body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@page {
  size: auto;
  margin: 0mm;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
#app > div,
#root {
  height: 100%;
}

.container {
  height: 100%;
}

.background {
  height: 100%;
}

.grid {
  text-align: center;
}

.title {
  font-size: 32px;
  text-align: center;
}

.form {
  height: 100%;
  text-align: center;
}

.title-main {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 48px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  color: #f7f7f7;
  /* color: aqua; */
}

.example-title {
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 36px;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.2); */
  color: #f7f7f7;
}

.input-row {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
}

.text-input {
}

.form-inline {
  width: 50%;
  display: inline-block;
}

.form-inline input {
  width: 100%;
  font-size: 14px;
  vertical-align: middle;
  margin: 15px 0px 5px 0px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  width: 45%;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

.submit-button {
  width: 100%;
}

.how-to {
  text-align: center;
  width: 65%;
  background: rgba(0, 0, 0, 0.2);
  color: #f7f7f7;
}

.goals-container {
  text-align: center;
}

.goal-row {
  display: flex;
  text-align: center;
  /* justify-content: space-between; */
  align-items: center;
  margin: 4px auto;
  margin-top: 15px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 50%;
  font-size: 24px;
}

.goal-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.goal-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.goal-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
/* :required {
  background: rgb(112, 3, 3);
} */
#nav li {
  float: right;
}

#nav {
  width: 100%;
  float: right;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f211;
}

#nav li button {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}
